<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-3">
      <div class="card mb-2" style="background: linear-gradient(to bottom, #ffffff 0%,#f0f8ff 100%);">
        <div class="card-body ">
          <h1 class="mb-3 text-center">New task</h1>
          <%= render 'form' %><br>
          </div>
      </div>
       <%= link_to 'Back', project_tasks_path(@task.project), class: "btn btn-outline-info", style: "color: #007bff;" %>
    </div>
  </div>
</div>
